:root {
    display: flex;
    justify-content: center;

    background-color: #83a598;
    font-family: FiraCode Nerd Font;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50rem;
    border-radius: 30px;
}

header {
    background-color: #282828;
    color: #ebdbb2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-style: solid;
    border-right-style: solid;
    border-width: 10px;
    border-color: #1d2021;

    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #ebdbb2;
    padding: 3px;
}

a:hover {
    color: #282828;
    background-color: #ebdbb2;
}

main {
    background-color: #ebdbb2;
    border-right-style: solid;
    border-width: 10px;
    border-color: #a89984;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 30rem;
    color: #282828;
}

input[type=text] {
    border-radius: 0px;
    border-style: solid;
    border-color: #a89984;
}

input[type=text]:focus {
    border-color: #fe8019;
}

textarea {
    border-radius: 0px;
    border-style: solid;
    border-color: #a89984;
    resize: none;
    padding: 1rem;
}

textarea:focus {
    border-style: solid;
    border-color: #fe8019;

}

select {
    border-radius: 0px;
    border-style: solid;
    border-color: #a89984;
    background-color: #ebdbb2;
}

.error {
    color: #fb4934;
    font-size: 0.75rem;
}

fieldset {
    color: #282828;
    border: 2px solid;
    border-color: #a89984;
}

legend {
    font-weight: bold;
}

.form-row {
    padding: 0.5rem;
}

button {
    border-radius: 0px;
    border-style: solid;
    border-color: #a89984;
    background-color: #ebdbb2;
}

label {
    font-weight: bold;
}

.sender-info,
.message-preview {
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}

footer {
    background-color: #282828;
    color: #ebdbb2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right-style: solid;
    border-width: 10px;
    border-color: #1d2021;
    min-height: 5rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
