{% extends 'layout.html' %}

{% block content %}
<h2>Thank you for contacting us.</h2>

<h3>Summary</h3>
<div class="preview">
  <div>
    <div>
      <label>From:</label>
      <span>
        {{ support.first_name }} {{ support.last_name }}
        &lt;{{ support.email }}&gt;
      </span>
    </div>
    <div>
      <label>Country:</label>
      <span>
        {{ support.country }}
      </span>
    </div>
    <div>
      <label>Gender:</label>
      <span>
        {{ support.gender }}
      </span>
    </div>
    <div>
      <label>Subjects:</label>
      {% if support.subjects | bitwise_and(4) %}
        <span>Repair </span>
      {% endif %}
      {% if support.subjects | bitwise_and(2) %}
        <span>Order </span>
      {% endif %}
      {% if support.subjects | bitwise_and(1) %}
        <span>Others </span>
      {% endif %}
    </div>
  </div>
  <hr />
  <div>
  {% for line in support.message %}
    <div>&gt; {{ line }}</div>
  {% endfor %}
  </div>
</div>
    
{% endblock %}
