{% extends 'layout.html' %}

{% block content %}
<h2>Welcome!</h2>

<p>This is actually a cool website</p>

<h3>We sell Raspberry Pi btw.</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ouhXh8thnQM?si=jJHaThq5GmCUb1Cj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>Please send us a message <a href="/support">here</a>.</p>

{% endblock %}
