<!doctype html>
<html lang="en-US">
  <head>
    <title>Hackers Poulette</title>
    <link rel="stylesheet" href="/static/site.css">
  </head>
  <body>
    <header>
      <h1>Hackers Poulette!</h1>
      <nav>
        <ul>
          <li><a href="/">Index</a></li>
          <li><a href="#">Us</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      ©Hackers Poulette
    </footer>

  </body>
</html>
