{% extends 'layout.html' %}

{% block content %}
  <h2>Support</h2>

  <form id="support-form">
    <fieldset>
      <legend>Support Form</legend>

      <div class="form-row">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" required/>
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name" required/>
      </div>

      <div class="form-row">
        <label for="country">Country:</label>
        <select name="country" id="country" required>
          <option value="">--Please select your country--</option>
          <option value="be">Belgium</option>
          <option value="fr">France</option>
          <option value="de">Germany</option>
          <option value="nl">Netherlands</option>
          <option value="us">United States</option>
        </select>
      </div>

      <div class="form-row">
        <label>Gender:</label>

        <input type="radio" id="male" name="gender" required>
        <label for="male">Male</label>

        <input type="radio" id="female" name="gender" required>
        <label for="female">Female</label>

        <input type="radio" id="other" name="gender" required>
        <label for="other">Other</label>
      </div>

      <div class="form-row">
        <label>Subject:</label>

        <input type="checkbox" id="repair" name="repair">
        <label for="male">Repair</label>

        <input type="checkbox" id="order" name="order">
        <label for="female">Order</label>

        <input type="checkbox" id="others" name="others">
        <label for="others">Others</label>
      </div>

      <div class="form-row">
        <label for="message"></label>
        <textarea id="message" name="message" placeholder="Content of your message..." rows="10" cols="50" required></textarea>
      </div>

      <button>Submit</button>
    </fieldset>
  </form>

{% endblock %}
